body{
	font-family: monospace;
}

#menu{
	position: fixed;
	border: 2px solid black;
	right: 5px;	
	top: 5px;
	padding: 5px 10px;
	background: white;

	-webkit-box-shadow: 5px 5px 40px -6px rgba(168,168,168,1);
	-moz-box-shadow: 5px 5px 40px -6px rgba(168,168,168,1);
	box-shadow: 5px 5px 40px -6px rgba(168,168,168,1);
}

#narrative{
	width: 80%;	
}