#narrative{

	.answer-group button {
		border: 1px solid #02CD02;

		&:disabled{
		    border-color: #056A05;
		    color: #056A05;
		}
	}
	.output-wrapper:last-child .output:last-child{
		background: #033D03;
	}

	.Me, .Me > *{
	    color: #0288CD;
	}

	.output-wrapper:last-child .Me.output:last-child {
	    background: #03343D;
	}



	.STAGE .name{
		display: none;
	}

	.STAGE, .STAGE > *{
	    color: #f18260;
	}

	.output-wrapper:last-child .STAGE.output:last-child {
	    background: #3A231C;
	}


}
